
.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
}



/* Center content vertically and horizontally */
.no-results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  width: 100%;
}

/* Styling for the message */
.no-results {
  padding: 20px;
  border: 1px solid #ccc; /* Example border for clarity */
  background-color: #f0f0f0; /* Example background color */
  text-align: center;
  max-width: 80%; /* Limit width if necessary */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
}
